@using WebApplication4.Models
@model IEnumerable<WebApplication4.Models.PostModel>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa {
        font-size: 25px;
        cursor: pointer;
        user-select: none;
    }

    .fa:hover {
        color: gray
    }
</style>

<h2>Posts</h2>

@{var user = (FullUser)Session["displayuser"]}
<script>
    function like_post(postId) {
        $.post("../Post/Like?postid=" + postId)
            .then(response => {

            })
    }
</script>

@Html.ActionLink("Upload a Post", "Upload", "Posts", null, new { @class = "btn btn-default" })
<hr/>
@foreach (var post in Model)
{
    <div>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>@post.Date</strong></div>
                <div class="panel-body">@post.Content</div>
                @if (post.ImageUrl != null)
                {
                    <img src="@post.ImageUrl" class="img-responsive" />
                }
                <div class="panel-footer">
                    <i  onclick="javascript:like_post(@post.Id)" class="fa fa-thumbs-up"></i>
                    @Math.Max(post.Likes, 0)
                  </div>
            </div>
        </div>
    </div>


}