@model WebApplication4.Models.ProfileViewModel
@{
    ViewBag.Title = Model.FullUser.FullName;
}

@if (Session["usertoken"] != null && Model != null)
{

    <script>
        function FollowButton_click(userId) {
            if (document.getElementById("Follow_Button_Text").innerText == "Follow") {
                $.post("../Social/FollowUser?otherUserId=" + userId, function (response) {
                    console.log(response);
                    if (response.Success == true) {
                        document.getElementById("nFollowers").innerText = response.NewFollowersCount;
                        document.getElementById("Follow_Button_Text").innerText = "Unfollow";
                        document.getElementById("user_followed_icon").style.display = "inline";
                    }
                });
            }
            else if (document.getElementById("Follow_Button_Text").innerText == "Unfollow") {
                $.post("../Social/UnfollowUser?otherUserId=" + userId, function (response) {
                    console.log(response);
                    if (response.Success == true) {
                        document.getElementById("nFollowers").innerText = response.NewFollowersCount;
                        document.getElementById("Follow_Button_Text").innerText = "Follow";
                        document.getElementById("user_followed_icon").style.display = "none";
                    }
                });
            }
        }

        function unfollow(userId) {
            
        }

        function FollowsList_click() {
            var FollowsList = document.getElementById("FollowsList")
            var selectedValue = FollowsList.value;
            if (selectedValue != "") {
                window.location.href = "../Profile/UserProfile?id=" + selectedValue;
                document.getElementById("user_followed_icon").style.display = "inline";
            }
        }

    </script>

    <div class="row">
        <div class="col-md-3" style="margin-right:10px">
            @{ var user = Model.FullUser;
                <div class="row">
                    <h4>@user.FullName</h4>
                </div>
                var age = DateTime.UtcNow.Year - user.BirthDate.Year;
                <div class="row">
                    <label class="control-label">@age Years Old</label>
                </div>
                <div class="row">
                    <label class="control-label">@user.City</label>
                </div>
                <div class="row">
                    <label class="control-label">@(user.WorkPlace != null ? ("Works at " + user.WorkPlace) : "")</label>
                </div>
            }

                <div class="row"><strong><span id="nFollowers">@Model.FollowersCount</span> Followers</strong></div>

                
                <div class="row">
                    <button id="Follow_Button" onclick="javascript: FollowButton_click('@user.UserId');" class="btn btn-default">
                        <span id="Follow_Button_Text">@(Model.GetterFollowsUser? "Unfollow" : "Follow")</span>
                        <i class="glyphicon glyphicon-ok" id="user_followed_icon" style="font-size: 15px; cursor:default; display:@(Model.GetterFollowsUser? "inline" : "none"); color:maroon;"></i>
                    </button>
                </div>
                 
            <div class="row">
                @Html.LabelFor(m => m.Follows,  "People " + Model.FullUser.FullName + " Follows", new { @class = "control-label" })
                <select id="FollowsList" size="10" onclick="javascript: FollowsList_click();" class="form-control">
                    @foreach (var item in Model.Follows)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-8">
            <h2>Posts</h2>
            @Html.Partial("_PostsPartial", Model.Posts)
        </div>

    </div>



}

