@using WebApplication4.Models;
@model BlockedUsersViewModel
@{
    ViewBag.Title = "Blocked users";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
@Html.ValidationSummary("", new { @class = "text-danger" })

<div>
@if (Model != null)
{
    if (Model.Users != null)
    {
        <h4>Manage your block list</h4>
        using (Html.BeginForm("BlockedUsers", "Social", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <table>
                @foreach (UserIdAndName user in Model.Users)
                {
                    @Html.HiddenFor(m => m.UnblockUserId, new { id = "UnblockUserId" })
                    <tr>
                        <td>@user.UserFullName</td>
                        <td>
                            <input type="submit" value="Unblock" class="btn btn-default" onclick="document.getElementById('UnblockUserId').value=@user.UserId;"/>
                        </td>
                    </tr>
                }
            </table>
        }
    }
    else
    {
        <h4> You don't have any blocked users</h4>
    }
}

</div>